<!DOCTYPE html>
<html lang="en">
<% include ../views/head %>

<body>
<% include ../views/nav %>


<div class="container content">

  <form method="post" enctype="multipart/form-data">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <!-- <link href="/stylesheets/profile.css" rel="stylesheet"> -->


      <div class="row">
  		<div class="col-md-2 column profile-top-left">
  			<img class="thumbnail" src="/images/<%=user.avatar%>" />



  		</div>

  		<div class="col-md-9 column  profile-top" >

        <div class="row">
<div class="col-md-9 column" >
  				<h2>
  					<%= user.username %>
  				</h2>
        </div>
        <div class="col-md-6 column" >
<label for="image" class="col-sm-6 col-form-label  col-form-label-sm">Change avatar</label>
<input type="file" class=" btn btn-sm btn  rounded-0" id="image" name="image">
</div>
  		</div>
    </div>

  		<div class="col-md-1 column  profile-top-right" >

        <button id="save" class="btn btn-info btn-sm rounded-0 btn-block" type="submit">
                   Save
        </button>

        <a id="cancel" class="btn btn-default btn-sm rounded-0" href="/users/<%=user.username%>" type="button">
                   Cancel
        </a>
        <br>

  		</div>

  	</div>
  	<div class="row clearfix">
  		<div class="col-md-12 column">

  						 <div class="row ">

                  			<div class="col-md-8 column">
              					<p>
              						<p>About me</p>


                              <hr/>
                              <textarea type="text" class="form-control rounded-0" name="aboutme" id="aboutme"><%=user.aboutMe%></textarea>
              					</p>
              				</div>
              				<div class="col-md-4 column">
                        <p>
                        <p>Important stuff</p>
              					<table class="table">
              						<tbody>
              							<tr>
              								<td>
              									Registered
              								</td>
              								<td>
              									<%=registered%>
              								</td>
              							</tr>
                                          <tr>
                  							<td>
              									Games played
              								</td>
              								<td>
              									2
              								</td>
              							</tr>

              							</tr>
              						</tbody>
              					</table>
                      </p>
                      <button id="delete" class=" float-right btn btn-default btn-sm rounded-0" href="#" type="button" data-id="<%= user.username %>">
                                 Delete account
                      </button>
                      <p class="confirmdelete float-right"></p>

              				</div>
              			</div>
  					</div>
  		</div>

    </form>
</div>


<% include ../views/scripts %>
<script src="/javascripts/edit.js"></script>


</body>
</html>
